<div class="ocs-content">
  <mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="'over'">
      <mat-icon class="cursor-pointer close-btn-icon" (click)="drawer.toggle()">close</mat-icon>
      <ocs-left-side-menu></ocs-left-side-menu>
    </mat-drawer>
    <mat-drawer-content>
      <div class="main">
        <div class="heading">
          <mat-toolbar color="primary">
            <mat-icon class="cursor-pointer" mat-ripple (click)="drawer.toggle()">density_small</mat-icon>
            <span>Site logo</span>
          </mat-toolbar>
        </div>
        <mat-card class="content">
          <div class="nav-list">
            <nav mat-tab-nav-bar #matTabNav [tabPanel]="tabPanel">
              <a mat-tab-link *ngFor="let link of ['kek', 'sweets', 'another_one']"
                 (click)="activeLink = link"
                 [routerLink]="'/category/' + link"
                 [active]="activeLink == link"> {{link}} </a>
            </nav>
            <mat-tab-nav-panel #tabPanel>
              <router-outlet></router-outlet>
            </mat-tab-nav-panel>
          </div>
          <div class="footer">
            <mat-divider></mat-divider>
            All rights reserved @ Enhame Studios
          </div>
        </mat-card>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
